<% layout('/layouts/boilerplate.ejs') %>
<div class="container">
  <h4 id="owner-name">Name of profile owner</h4>
  <div class="vp-top">
    <div class="h-pic vp-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>
        <div style="color: #999"></div>
      </div>
      <p id="vp-user"><b>Username</b> - @ Yachin123</p>
    </div>

    <div>
      <p><b>Full Name :</b></p>
      <p><b>Email Id :</b></p>
      <p><b>Gender :</b></p>
    </div>
  </div>
  <hr />
  <div class="vp-mid">
    <h4>Work related details</h4>
    <div>
      <p><b>Profession : </b></p>
      <p><b>Charges : </b>ex.100/day</p>
      <p><b>Job Type :</b></p>
      <p><b>City : </b></p>
      <p><b>Current adress : </b></p>
      <p><b>Work description :</b></p>
      <p><b>Experience :</b></p>
      <p><b>Availability :</b></p>
    </div>
  </div>

  <form action="/hirerequest">
    <button class="view-btn hire-btn">Send hire request</button>
  </form>

  <hr />
  <div class="review-section">
    <p>All reviews</p>
  </div>
</div>
