<footer>
  <div class="f-out">
    <div class="f1">
      <div id="f1-text">Get connected us with social media</div>
      <div id="f1-icons">
        <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-github"></i>&nbsp;&nbsp;
      </div>
    </div>
    <div class="f2">
      <div class="f-link mt-2" style="margin-left: 5rem;">
        <h5><a style="color: white !important">Useful links</a></h5>
        <br />
        <p>My Account</p>
        <p>Help</p>
      </div>
      <div class="f-logo mt-2" style="margin-left: 3rem;">
        <img />
        <p>HopeHands</p>
      </div>
      <div class="f-userinfo mt-2" style="margin-right: 10.5rem;">
        <p><a style="color: white !important">Contact Us</a></p>
        <p>Address</p>
        <p>Email</p>
        <P>Phone No.</P>
      </div>
    </div>
    <div class="f3">&copy;2025 Copyright: HopeHands</div>
  </div>
</footer>
