<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><i class="fa-solid fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Listings</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="/listings">Show Bussiness</a
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="nav-link" href="/listings/new">Available jobs</a
        >&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="search-job">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">About us</a>
        <a class="nav-link" href="/listings/new">Sign-up</a>
      </div>
    </div>
  </div>
</nav>
