<% layout('/layouts/boilerplate.ejs') %>
<div class="container hl-top">
  <div>
    <h3>Jobgivers</h3>
    <p><i>Below listed are the available jobgiver at your location.</i></p>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details h-details-jg">
      <p><b>Name :</b> Omkar</p>
      <p><b>City :</b> Engineer</p>
      <p><b>Job-type :</b> Focus on academics</p>
      <p><b>Need :</b></p>
    </div>
    <div class="h-view">
      <form action="/request">
        <button class="view-btn view-btn-jg">Send message</button>
      </form>
    </div>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details h-details-jg">
      <p><b>Name :</b> Omkar</p>
      <p><b>City :</b> Engineer</p>
      <p><b>Job-type :</b> Focus on academics</p>
      <p><b>Need :</b></p>
    </div>
    <div class="h-view">
      <form action="/request">
        <button class="view-btn view-btn-jg">Send message</button>
      </form>
    </div>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details h-details-jg">
      <p><b>Name :</b> Omkar</p>
      <p><b>City :</b> Engineer</p>
      <p><b>Job-type :</b> Focus on academics</p>
      <p><b>Need :</b></p>
    </div>
    <div class="h-view">
      <form action="/request">
        <button class="view-btn view-btn-jg">Send message</button>
      </form>
    </div>
  </div>
</div>
