<% layout('/layouts/boilerplate.ejs') %>
<div class="container hl-top">
  <div class="">
    <h3>Workers</h3>
    <p><i>Below listed are the available workers at your location.</i></p>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details">
      <p><b>Name:</b> Omkar</p>
      <p><b>Profession:</b> Engineer</p>
      <p><b>Job-type:</b> Focus on academics</p>
    </div>
    <div class="h-view">
      <p><b>Availability:</b> Don't have options</p>
      <form action="/viewworker">
        <button class="view-btn">View</button>
      </form>
    </div>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details">
      <p><b>Name:</b> Yachin</p>
      <p><b>Profession:</b> Engineer</p>
      <p><b>Job-type:</b> Same as previous</p>
    </div>
    <div class="h-view">
      <p><b>Availability:</b> Don't have options</p>
      <form action="/viewworker">
        <button class="view-btn">View</button>
      </form>
    </div>
  </div>

  <div class="horizontal-listing">
    <div class="h-pic">
      <div class="h-profile-pic">
        <div class="circle-p">
          <img
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
          />
        </div>

        <div style="color: #999"></div>
      </div>
    </div>
    <div class="h-details">
      <p><b>Name:</b></p>
      <p><b>Profession:</b></p>
      <p><b>Job-type:</b></p>
    </div>
    <div class="h-view">
      <p><b>Availability : </b> Don't have options</p>
      <form action="/viewworker">
        <button class="view-btn">View</button>
      </form>
    </div>
  </div>
</div>
