.main-page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 6rem !important;
}

.main-text {
  width: 60%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0 !important;
}

.img-hope {
  height: 34rem; /* Set a fixed height */
  width: 50%; /* Set width */
  background-image: url("./job.jpg"); /* Corrected path */
  background-size: cover;
}

.work {
  display: inline-block;
  background-color: #0cc0df;
  border-radius: 5rem;
  font-weight: bold;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  background-color: #38b6ff;
  border-radius: 5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.arrow {
  font-size: 3rem;
  background-color: white;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  background: white; /* White center */
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  inset: 0; /* Covers the whole element */
  border-radius: 50%;
  padding: 2rem; /* Defines border thickness */
  background: conic-gradient(red 0deg 90deg, gold 90deg 360deg);
  -webkit-mask: radial-gradient(closest-side, transparent 80%, black 81%);
  mask: radial-gradient(closest-side, transparent 80%, black 81%);
}

.outer-box {
  display: flex;
  justify-content: flex-start;
}
.info-box {
  width: 70%;
  margin-left: 12rem;
}

.job-count {
  text-align: center;
  background-color: #f7abab !important;
  font-weight: bolder;
  font-size: 2rem;
}

.job-info {
  background-color: #cde9f2;
  text-align: center;
}
