.navbar {
  background-color: #bbe7f5;
  height: 4.5rem;
  width: 75%;
  margin: auto !important;
  margin-top: 0.5rem !important;
  border-radius: 5rem;
  background: rgba(187, 231, 245, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #222222 !important;
}

.search-job {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
  width: 28rem;
  height: 2.7rem;
  background-color: #e8f9ff !important;
  border-radius: 2rem;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar a:hover {
  text-decoration: none !important;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal Box */
.modal-content {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  max-width: 18.75rem;
  width: 90%;
  min-height: 18.75rem;
  box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cross Button */
.modal-content .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  background-color: #ddd;
  padding: 0.3rem;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .close:hover {
  background-color: #bbb;
}

.modal-content .close:hover {
  background-color: #bbb;
}

/* MODAL SPECIFIC STYLING */
.modal-content h2 {
  margin-bottom: 0.625rem; /* 10px */
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Only Modal Paragraphs */
.modal-content p {
  margin-top: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  color: #666;
}

/* Only Modal Links */
.modal-content a {
  color: #007bff;
  text-decoration: none;
}

.modal-content a:hover {
  text-decoration: underline;
}

/* Modal Buttons */
.modal-content button {
  width: 50%; /* Pehle ye 20% tha isliye chhota lag raha tha */
  padding: 0.625rem; /* 10px */
  margin: 0.5rem 0; /* 8px */
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

#openLoginModal {
  border-radius: 1.2rem !important;
  width: 6.5rem;
  text-align: center;
}

.last-sec {
  margin-right: 2rem;
  width: 12rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
