* {
  font-family: "Lato", sans-serif !important;
  /* font-style: normal; */
}

.cent {
  display: flex !important;
  justify-content: center;
}

.container h3 {
  width: 100vh !important;
  font-weight: bold;
}

.container {
  /* margin: auto 4.54rem !important; */
  margin-top: 5rem !important;
}

.details {
  min-width: min-content !important;
  display: flex !important;
  justify-content: center !important;
  margin-left: 22rem !important;
}

.details input {
  height: 1.9rem !important;
  width: 35rem !important;
}

.two {
  display: flex;
  gap: 1rem;
}

.two input {
  width: 17rem !important;
}

.radio {
  display: flex;
  align-items: center;
  height: 1.9rem !important;
  width: 17rem !important;
  border: 1px solid #345d93 !important;
  border-radius: 25px !important;
}

.radio:has(input:active) {
  box-shadow: 0px 0px 3px 3px #45a1e774;
}

.radio input {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

.uploadaadhar > input {
  /* margin-left: 2rem !important; */
  border: 1px solid #345d93 !important;
  border-radius: 15px !important;
}
.address {
  display: flex;
  flex-direction: column;
}

.address textarea {
  height: 4rem !important;
  width: 35rem !important;
  border: 1px solid #345d93 !important;
  border-radius: 5px !important;
}

.address textarea:focus {
  box-shadow: 0px 0px 3px 3px #45a1e786;
}

.profile-pic {
  /* position: absolute; */
  margin: auto 17rem;
  height: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  z-index: 1001;
  padding: 10px;
}
.profile-pic img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  /* cursor: pointer; */
  width: 100px;
  height: 100px;
}

.profile-pic input {
  position: absolute;
  top: 5rem !important;
  right: 25px;
  height: 20px !important;
  width: 20px !important;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.upload-button {
  position: absolute;
  top: 5rem !important;
  right: 25px;
  height: 20px !important;
  width: 20px !important;
  /* cursor: pointer; */
  z-index: 1;
}

.jobtype label {
  text-align: center !important;
  margin-left: 1rem !important;
}

.jobtype select {
  border: none !important;
}

.jobtype select:focus {
  /* border: 1px solid #345d93 !important; */
  border-radius: 4px !important;
}

.horizontal-listing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* border: 1px solid #345d93; */
  border-radius: 1rem;
  border-top: 2px solid #b5c1c87c;
  border-left: 2px solid #b5c1c87c;

  background-color: #ffffff;
  padding: 0.5rem 0.5rem;
  box-shadow: 3px 6px 5px #b5c1c87c;
  transition: 0.3s ease;
}

.hl-top {
  margin-top: 6rem !important;
}

.hl-top h3 {
  font-weight: bold;
}

.horizontal-listing:hover {
  background-color: #e4e4e51a;
  box-shadow: 0px -3px 3px #b5c1c87c;
}

.horizontal-listing:hover .view-btn {
  background-color: #43b1f1;
}

.h-profile-pic img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #c1c1c1;
  /* cursor: pointer; */
  width: 7rem;
  height: 7rem;
}

.h-details {
  width: 60%;
  height: 7rem;
  border-left: 2px solid #345d9354;
  border-right: 2px solid #345d9355;
  border-radius: 15px;
  padding: 0.6rem 0.6rem;
  line-height: normal;
  box-shadow: 1px 1px 10px #b5c1c87c;
}

.view-btn {
  height: 2rem !important;
  width: 7rem !important;
  border: 1px solid #345d93 !important;
  border-radius: 0.5rem !important;
  background-color: #43b1f1ac;
  transition: 0.3s ease;
}

.view-btn-jg {
  width: 7.5rem !important;
}

.h-details-jg {
  height: 8.8rem;
}

.vp-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 17rem;
  border-radius: 1rem;
  margin: auto;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 3px 4px 5px #b5c1c87c;
  border-radius: 1rem;
  border-top: 2px solid #b5c1c87c;
  border-left: 2px solid #b5c1c87c;
  line-height: normal;
  transition: 0.2s ease;
}

.vp-top:hover {
  background-color: #e4e4e51a;
  box-shadow: 0px -4px 3px #b5c1c847;
}

.vp-pic {
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
}

#owner-name {
  margin-top: 6.3rem;
  margin-bottom: 1.3rem;
  margin-left: 4rem;
  font-weight: bold;
}

.vp-mid > h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-weight: bold;
}

.vp-mid p {
  margin-left: 7rem;
  text-align: justify;
}

#vp-user {
  margin-top: 0.5rem;
}

.hire-btn {
  height: 2.2rem !important;
  width: 9rem !important;
  margin-bottom: 1rem;
  margin-left: 6.5rem;
}
.hire-btn:hover {
  background-color: #43b1f1;
}

.review-section > h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  font-weight: bold;
}

.sp-top {
  margin-top: 6.5rem;
}
