<% layout('/layouts/boilerplate') %>
<div class="cent offset-2">
  <div class="row mt-2 container">
    <h3 class="mb-3 mt-2 offset-1">SignUp as Jobgiver</h3>
    <div class="col-5 mt-2 offset-2 cent_1">
      <form action="/login" method="POST" novalidate class="needs-validation">
        <div class="mb-4">
          <!-- <label for="username" class="form-label">Username</label> -->
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="username"
            required
          />
        </div>
        <div class="mb-4">
          <!-- <-- <label for="email" class="form-label">Email id</label>  -->
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email id"
            required
          />
        </div>

        <div class="mb-4">
          <!-- <label for="phone" class="form-label">Phone No.</label> -->
          <input
            type="number"
            name="phone"
            id="phone"
            class="form-control"
            placeholder="Phone No."
            required
          />
        </div>

        <div class="auth mt-3">
          <div class="mb-1 col-7 pass_eye">
            <!-- <label for="password" class="form-label">Password</label> -->
            <div>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="password"
                required
              />
            </div>
            <div><i class="fa-solid fa-eye"></i></div>
          </div>
          <div class="">
            <form action="/otp">
              <button class="btn col-3 login_btns">Send Otp</button>
            </form>
          </div>
        </div>

        <br />
        <div class="mb-1">
          <!-- <label for="otp" class="form-label">Enter Otp</label> -->
          <input
            type="number"
            name="otp"
            id="otp"
            class="form-control"
            placeholder="Enter Otp"
            required
          />
        </div>

        <button class="btn mt-4 mb-5 d-grid login_btns signup_btn">
          signup
        </button>
      </form>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
