<% layout('/layouts/boilerplate') %>
<div class="row mt-2 container">
  <h3 class="mb-3 mt-2 offset-3">SignUp as Worker</h3>
  <div class="col-5 mt-2 offset-4">
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-4">
        <!-- <label for="username" class="form-label">Username</label> -->
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          placeholder="username"
          required
        />
      </div>
      <div class="mb-4">
        <!-- <-- <label for="email" class="form-label">Email id</label>  -->
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Email id"
          required
        />
      </div>

      <div class="mb-4">
        <!-- <label for="phone" class="form-label">Phone No.</label> -->
        <input
          type="number"
          name="phone"
          id="phone"
          class="form-control"
          placeholder="Phone No."
          required
        />
      </div>

      <div class="auth mt-3">
        <div class="mb-1 col-7 pass_eye">
          <!-- <label for="password" class="form-label">Password</label> -->
          <div>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="password"
              required
            />
          </div>
          <div><i class="fa-solid fa-eye"></i></div>
        </div>
        <button class="btn col-3 offset-1 otp_sign_btn login_btns">
          Send Otp
        </button>
      </div>

      <br />
      <div class="mb-1">
        <!-- <label for="otp" class="form-label">Enter Otp</label> -->
        <input
          type="number"
          name="otp"
          id="otp"
          class="form-control"
          placeholder="Enter Otp"
          required
        />
      </div>

      <button class="btn mt-3 mb-3 mx-auto d-grid login_btns">signup</button>
    </form>
  </div>
</div>
